<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <h1>Signup page</h1>
    <form method="post" action="/user">
        <label>Enter your name</label>
        <input type="text" required name="name">
        <label>Enter your email</label>
        <input type="text" required name="email">
        <label>Enter your password</label>
        <input type="password" required name="password">
        <button type="submit">SignUp</button>
    
    </form>
</body>
</html>